<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpiceRack</title>
    <link rel="stylesheet" href="../static/style.css">
    <!-- allows me to use a font from google -->
    <link href="https://googleapis.com" rel="stylesheet">
</head>
<!---->
<body>
    <h1>Hello Beau! Welcome to <span class="italic-sr">SpiceRack</span>.</h1>
    <h2>We're glad you're here.</h2>
    <div class="container">
        <div class="recipe-box">
            <div class="header-r">
                <h1 class="rb-title">Your Recipes</h1>
            </div>
            <div class="body-r"></div>
        </div>
        <div class="spice-box">
            <div class="header-s">
                <h1 class="sb-title">Your Spices</h1>
            </div>
            <div class="body-s">
                <div class="spice-col-wrapper">
                    <div class="spice-column">
                        <ul>
                            {% for spice in left_spices %}
                                <li>{{ spice }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="spice-column">
                        <ul>
                            {% for spice in right_spices %}
                                <li>{{ spice }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header-s-2">
                <h1 class="sb-h2-title">Add Spices</h1>
            </div>
            <!-- div wrapper for spice user input text area -->
            <div class="body-s-input">
                <form id="spice-form" action="/add_spices" method="post">
                    <textarea id="spice-input" name="user_spice_add" placeholder="I.e: sea salt, garlic powder, etc..."></textarea>
                </form>
            </div>
            <!-- submit button in the form of a div element -->
            <div class="submit-box" role="button" tabindex="0" id="submit-box">
                <h1 class="submit-text">Submit</h1>
            </div>
            <!-- small javascript segment to make the previous div element into a proper button -->
            <script>
                document.getElementById('submit-box').onclick = function() {
                    document.getElementById('spice-form').submit();
                };
            </script>
        </div>
    </div>
</body>
</html
